:root {
	font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

h3 {
	font-size: 1.33rem;
	line-height: 1.1;
}

.acc-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.acc-wrapper button {
	padding: 10px 20px;
	background: #678d6b00;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

.accordion {
	width: 500px;
}

.item {
	background: #8a6d34;
	margin-bottom: 10px;
	padding: 10px 20px;
	border-radius: 8px;
}

.title {
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.acc-content {
	color: #ffffff;
	height: auto;
}
